.leaflet-map-container {
  width: 100%;
  border-radius: 8px;

  margin: 1rem 0;
  z-index: 0;
  position: relative;
}

.leaflet-popup-inner {
  font-size: 0.9rem;
  min-width: 120px;

  strong {
    display: block;
    margin-bottom: 4px;
    font-size: 1rem;
  }

  p {
    margin: 0;
    color: #555;
  }
}